My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1e970184-5120-4433-995b-f4f216165a13",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY",
          "mode": "list",
          "cachedResultName": "credit_risk_dataset updated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 457091209,
          "mode": "list",
          "cachedResultName": "credit_risk_dataset re",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY/edit#gid=457091209"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "50438f1f-428e-4409-b543-b0375b161ab8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dgvZlgj2ev5wzPXu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61eb2cfa-2b92-4ef8-8219-993c7dbe1646",
              "leftValue": "={{ $json.risk_flag }}",
              "rightValue": "=HIGH",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d02d981c-6f39-429e-be51-a89356645677",
              "leftValue": "={{ $json.cb_person_default_on_file }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "ed9e7774-fff4-496b-9e79-f8aab3afecfe",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Get all items passed from the previous Filter node\nconst items = $input.all();\n\nlet totalExceptions = items.length;\nlet highRiskCount = 0;\nlet mediumRiskCount = 0;\nlet defaultOnFileCount = 0;\n\n// Loop through each exception row\nfor (const item of items) {\n  const risk = item.json.risk_flag;\n  const defaulted = item.json.cb_person_default_on_file;\n  \n  if (risk === 'HIGH') highRiskCount++;\n  if (risk === 'MEDIUM') mediumRiskCount++;\n  if (defaulted === 'Y') defaultOnFileCount++;\n}\n\n// Return the summary object\nreturn {\n  summary: {\n    totalExceptions: totalExceptions,\n    highRisk: highRiskCount,\n    mediumRisk: mediumRiskCount,\n    defaultOnFile: defaultOnFileCount,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "96048a57-5cf5-4307-8e64-8de5b5963ca1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY",
          "mode": "list",
          "cachedResultName": "credit_risk_dataset updated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 870148803,
          "mode": "list",
          "cachedResultName": "Exception Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2Mt8Ry9ZV2lq10F-Q_BembcCsC1963OifKH540saqY/edit#gid=870148803"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "person_age": "={{ $('Filter').item.json.person_age }}",
            "person_income": "={{ $('Filter').item.json.person_income }}",
            "person_home_ownership": "={{ $('Filter').item.json.person_home_ownership }}",
            "person_emp_length": "={{ $('Filter').item.json.person_emp_length }}",
            "loan_intent": "={{ $('Filter').item.json.loan_intent }}",
            "loan_grade": "={{ $('Filter').item.json.loan_grade }}",
            "loan_amnt": "={{ $('Filter').item.json.loan_amnt }}",
            "loan_int_rate": "={{ $('Filter').item.json.loan_int_rate }}",
            "loan_status": "={{ $('Filter').item.json.loan_status }}",
            "loan_percent_income": "={{ $('Filter').item.json.loan_percent_income }}",
            "cb_person_default_on_file": "={{ $('Filter').item.json.cb_person_default_on_file }}",
            "cb_person_cred_hist_length": "={{ $('Filter').item.json.cb_person_cred_hist_length }}",
            "debt_to_income_ratio": "={{ $('Filter').item.json.debt_to_income_ratio }}",
            "risk_flag": "={{ $('Filter').item.json.risk_flag }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "person_age",
              "displayName": "person_age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "person_income",
              "displayName": "person_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "person_home_ownership",
              "displayName": "person_home_ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "person_emp_length",
              "displayName": "person_emp_length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_intent",
              "displayName": "loan_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_grade",
              "displayName": "loan_grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_amnt",
              "displayName": "loan_amnt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_int_rate",
              "displayName": "loan_int_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_status",
              "displayName": "loan_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loan_percent_income",
              "displayName": "loan_percent_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cb_person_default_on_file",
              "displayName": "cb_person_default_on_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cb_person_cred_hist_length",
              "displayName": "cb_person_cred_hist_length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debt_to_income_ratio",
              "displayName": "debt_to_income_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_flag",
              "displayName": "risk_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "9161a361-60f8-4615-969e-b075b68b50a3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dgvZlgj2ev5wzPXu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tejasramesh.tre@gmail.com",
        "subject": "=Daily Credit Exception Report - {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "<p>Hello,</p>  <p>Here is your Daily Credit Exception Report for <b>{{ $now.toFormat('yyyy-MM-dd') }}</b>.</p>  <ul>   <li><b>Total borrowers reviewed:</b> 32,581</li>   <li><b>Exceptions flagged:</b> {{ $('Code in JavaScript').item.json.summary.totalExceptions }}</li>   <li><b>High risk:</b> {{ $('Code in JavaScript').item.json.summary.highRisk }}</li>   <li><b>Medium risk:</b> {{ $('Code in JavaScript').item.json.summary.mediumRisk }}</li>   <li><b>Default on file:</b> {{ $('Code in JavaScript').item.json.summary.defaultOnFile }}</li> </ul>  <p>You can review the full details in the 'Exception Log' tab of your 'credit_risk_dataset_updated' Google Sheet.</p>  <p>Best,<br> Your Automated Credit Risk System</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "7c0aebbf-7c71-49ff-b221-9303acb4a004",
      "name": "Send a message",
      "webhookId": "afd3c120-9471-491e-9ff3-d37c855ff472",
      "credentials": {
        "gmailOAuth2": {
          "id": "0MaJU7EiIuPYeUGL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6759d431-772f-4864-ba28-1e193ecafe3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3c909753b8c9484483570c36a95b7d3316339551c0f747500c986c080db7740"
  },
  "id": "LInJJT8ZS2RAMavT",
  "tags": []
}